@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

body {
  font-family: "Catamaran", sans-serif;
}

.header {
  background-color: #c199f7;
  padding: 20px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 112px;
}

.adress {
  width: 600px;
  height: 60px;
  border-radius: 18px;
  border: none;
  background-color: rgba(233, 244, 237, 0.95);
  mix-blend-mode: hard-light;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #bd94f6;
}

.adress:focus {
  outline: none;
}

.adress:focus::-webkit-input-placeholder {
  color: transparent;
}

.adress:focus::-moz-placeholder {
  color: transparent;
}

.adress:focus:-moz-placeholder {
  color: transparent;
}

.adress:focus:-ms-input-placeholder {
  color: transparent;
}

.search {
  margin-left: 75px;
}

.search__img {
  mix-blend-mode: luminosity;
}

.cart {
  margin-left: 75px;
}

.cart__img {
  mix-blend-mode: luminosity;
}

/** top main **/

main {
  margin: 35px;
}

.title {
  font-size: 36px;
  font-weight: 800;
}

.categories {
  width: 100%;
  height: 60px;
  background-color: #ebebeb;
  margin-top: 15px;
  border-radius: 15px;
  padding: 0 30px;
}

.categories__list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.categories__link {
  text-decoration: none;
  color: #434343;
}

.categories__item {
  font-size: 20px;
  margin-right: 38px;
}

.categories__item--active {
  background-color: #fff;
  font-weight: 200;
  padding: 6px 28px;
  border-radius: 12px;
}

/** main **/

.rest-row {
  display: flex;
  margin-top: 35px;
}
