@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

link, input{
    outline: none;
}

::selection{
    background-color: #d5c1ed;
    color: #6e32c0;
}

body{
    background-color: #F9F9F9;
    font-family: "Catamaran", sans-serif;
    height: 100vh;
}

header{
    background: rgb(192,153,240);
    background: url(/img/bg_tr.svg), url(/img/bg_brush.svg), linear-gradient(90deg, rgb(192,153,240,1) 0%, rgba(148,86,232,1) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left, right;
}

.logo__bg{
    background-color: #9860E7;
    box-shadow: 5px 3px 0px 0px rgba(152 96 231 / 80%);
}

.address{
    background-color: rgba(249 249 249 / 95%);
    color: #AE7CF2;
    text-align: center;
}

.address:focus{
    background-color: white;
    box-shadow: 0 0 6px 0px rgb(255 255 255);
    z-index: 20;
}

.address::placeholder{
    color: #ad7cf2b0;
}

.search{
    background: url(/img/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.cart{
    background: url(/img/cart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay{
    background: rgba(0, 0, 0, 0.2);
}

.container{
    max-width: 40rem;
}

.title{
    font-family: 'Roboto', sans-serif;
}

nav{
    background: #EBEBEB;
}

.nav__item{
    padding: .2em;
    border-radius: .3em;
    background: transparent;
    color: #535353;
    transition: .15s ease-in-out;
}

.nav__item:active{
    background: #F9F9F9;
    color: #434343;
}

.rest__img{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 100vw;
    transition: .15s ease-in-out;
}

.rest__img:hover{
    transform: scale(.95);
}

.specs__item{
    background: #EBEBEB;
    border-radius: 1em;
}

.product{
    background: #24252B;
    background-image: url(/img/prords/XaXa_Pizza/pizza.png);
    transition: .15s ease-in-out;
    cursor: pointer;
}

.product:hover{
    background: #24252B;
    background-image: url(/img/prords/XaXa_Pizza/pizza.png);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.prod__info{
    font-family: 'Titillium Web', sans-serif;
    background: rgba(255, 255, 255, 0.51);
    backdrop-filter: blur(34px);
    border-radius: 0 0 .5rem .5rem;
}

.prod__text{
    color: black;
    letter-spacing: 0.025em;
    font-weight: 500;
    font-size: 1.5em;
}

.prod__cat{
    font-size: .9em;
    color: rgba(0, 0, 0, 0.705);
}

.prod__price{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.705);
}

.prod__link{
    color: rgba(42, 0, 0, 0.7);
    transition: .3s ease;
}

.prod__link:hover{
    color: rgba(112, 0, 0, 0.7);
}

.cart__bg{
    background: #EBEBEB;
    height: fit-content;
}

.buy-btn{
    color: #faf6ff;
    background: rgb(125,72,198);
    background: linear-gradient(0deg, rgba(125,72,198,1) 0%, rgb(159, 118, 209) 100%);
}

.buy-btn:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px){
    .nav__item{
        padding: .4em;
        border-radius: .4em;
        background: transparent;
        color: #535353;
        transition: .15s ease-in-out;
    }

    .rest__img{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        width: 9em;
    }

    .rest__img:hover{
        transform: translate(0, .1em);
    }

    .prod__text{
        font-size: 1em;
    }

    .prod__cat{
        font-size: .8em;
        color: rgba(0, 0, 0, 0.705);
    }

    .prod__price{
        font-weight: 700;
    }
}

.plus, .minus {
    cursor: pointer;
    user-select: none;
}

.minus{
    border-radius: .3em 0 0 .3em;
}

.plus{
    border-radius: 0 .3em .3em 0;
}